.tealText {
    color: darkturquoise;
}

.container {
    /* border: solid yellow; */
    height: 40vh;
}

.pddng {
    padding: .5rem;
}

.flipCard {
    background-color: transparent;
    width: 600px;
    height: 600px;
    perspective: 1000px;

}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.flipCardBack {
    padding: 0 4rem;
    background-color: #025B18;
    color: white;
    transform: rotateY(180deg);
}

.html5 {
    color: orange;
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
}

.css3 {
    color: #77bfe3;
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
}


.js {
    color: yellow;
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
}

.postgres {
    color: #138ccb;
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;

}

.sqlze {
    color: #138ccb;
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
}

.react {
    color: #00a2ff;
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;

}

.express {
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
    color: black;
}

.size {
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
    color: chartreuse;
}

@media screen and (max-width: 415px) {
    .flipCard {
        width: 450px;
        height: 450px;

    }

    .container {
        height: 50vh;
    }

    .html5 {
        width: 3rem;
        height: 3rem;
        padding: 0.3rem;
    }

    .css3 {
        width: 3rem;
        height: 3rem;
        padding: 0.3rem;
    }


    .js {
        width: 3rem;
        height: 3rem;
        padding: 0.3rem;
    }

    .postgres {
        width: 3rem;
        height: 3rem;
        padding: 0.3rem;

    }

    .sqlze {
        width: 3rem;
        height: 3rem;
        padding: 0.3rem;
    }

    .react {
        width: 3rem;
        height: 3rem;
        padding: 0.3rem;

    }

    .express {
        width: 3rem;
        height: 3rem;
        padding: 0.3rem;
    }

    .size {
        width: 3rem;
        height: 3rem;
        padding: 0.3rem;
    }
}

@media screen and (max-width: 360px) {
    .flipCard {
        width: 450px;
        height: 450px;
    }

    .container {
        height: 60vh !important;
    }
}

@media screen and (max-width: 375px) {
    .flipCard {
        width: 450px;
        height: 450px;
    }

    .container {
        height: 70vh !important;
        margin-left: -1.8rem;
    }

}

@media screen and (max-width: 390px) {

    .container {
        height: 55vh;
    }

}